@model IEnumerable<TiendaRopa.Models.Producto>
@{
    ViewData["Title"] = "Catalogo";
}

<section id="catalogue" class="catalogue section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Nuestras ropas</h2>
          <p data-aos="fade-in">Los mejores ropas para agregarlos a su tienda de Topitop</p>
        </div>


    <div class="row catalogue-container" data-aos="fade-up">

	@foreach (var item in Model)



	{
		<div class="col-lg-4 catalogue-item filter-app">
            <div style="text-align:center;" >
        		<img src="@item.imagen" class="card-img-top" alt="..." style=" height: 480px;">
            </div>
			<div class="catalogo" style="height: 290px;">
				<div style="text-align:center;" class="card-body" >
					<h5 class="card-title" style="color:#fdd067;">@Html.DisplayFor(modelItem => item.nombre)</h5>
						<p class="card-text">@Html.DisplayFor(modelItem => item.descripcion)</p>
				<div style="margin-top: 30px;">
						<p style="text-align: center;"><a class="btn btn-primary" disabled><i class="icofont-price"></i> S/ @Html.DisplayFor(modelItem => item.precio)</a></p>
						<div class="col" style="text-align: center;">
              <a asp-controller="Orden" asp-action="AddItem" asp-route-id="@item.ID" class="btn btn-primary"><i class="icofont-cart"></i> Agregar</a>
              <a asp-action="Info" asp-route-id="@item.ID" class="btn btn-primary"><i class="icofont-info-circle"></i> Leer más</a>
						</div>
				</div>
				</div>
			</div>
    </div>
	}


    </section>

<footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Topitop</h3>
            <p>Dirección: Av La Molina, 305 Las gardenias </p>
            <p>Telefono: +51 996644587</p>
          </div>
        </div>

        

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
 
    </div>

    
      <div class="credits">
        Diseñado por <a href="#">Topitop</a>
      </div>
    </div>
  </footer>	